/*Para el scroll*/
* {
  scrollbar-width: thin;
  scrollbar-color: #E0E5F1 #ffffff;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #E0E5F1;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

/*Para botones*/
.btn-normal{color:#fff;background-color:#2D52A8;border-color:#2D52A8;border-radius: 16px;}
.btn-normal:hover{color:#fff;background-color:#295FD6;border-color:#295FD6}

.btn-secun{color:#4880FF;background-color:#F4F7FD;border-color:#4880FF;border-radius: 16px;}
.btn-secun:hover{color:#295FD6;background-color:#F4F7FD;border-color:#295FD6}

.btn-accion{color:#fff;background-color:#4880FF;border-color:#4880FF;border-radius: 16px;}
.btn-accion:hover{color:#fff;background-color:#2060EB;border-color:#2060EB}

.btn-desactivado{color:#3C4557;background-color:#C5C8CF;border-color:#C5C8CF;border-radius: 16px;}

.btn-borrar{color:#fff;background-color:#295FD6;border-color:#295FD6;border-radius: 16px;}
.btn-borrar:hover{color:#fff;background-color:#2D52A8;border-color:#2D52A8}


/*Para mensajes*/
.alert-bien{background-color:#4880FF;border-color:#4880FF;color:#fff}
.alert-mal{background-color:#F47347;border-color:#F47347;color:#fff}


