<!DOCTYPE html>
<html>
<head th:replace="base/base:: head(~{::title})">
<title>SIFE</title>
</head>

<body
	th:replace="base/base:: content(~{::contenido},~{::nuevosScripts})">
	<contenido>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h5>
					<b>Estandarizar -> Gesti&oacute;n de estandarizaci&oacute;n</b>
				</h5>
				<hr />
				<h4>Gesti&oacute;n de estandarizaci&oacute;n</h4>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p th:if="${success}" class="alert alert-bien text-center"> <b>&iexcl;JOB EJECUTADO!</b></p>
					<p th:if="${validating}" class="alert alert-mal text-center"><b>&iexcl;YA SE VALIDO ESTA TABLA!</b><br> Debe resolver los conflictos actuales para poder continuar</p>
					<p th:if="${validated}" class="alert alert-mal text-center"><b>&iexcl;NO PUEDE VOLVER A VALIDAR LA TABLA!</b><br> Ya se valido y arreglaron los errores / incoherencias</p>
					<p th:if="${tableNotFound}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; la tabla!</b><br> Verifique si existe o contacte al administrador de la base de datos</p>
					<p th:if="${notArchivo}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; el ID del archivo!</b><br> Verifique si existe o contacte al administrador de la base de datos</p>
					<p th:if="${NotEstandarCorrespondencias}" class="alert alert-mal text-center">Aseg&uacute;rese de asignar correctamente la equivalencia entre valores t&iacute;picos y est&aacute;ndar, debe asignar <strong>TODOS</strong> los posibles valores de est&aacute;ndar para evitar futuros conflictos</p>
					<p th:if="${NotEstandar}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; uno o mas est&aacute;ndares para validar!</b><br> Verifique si existe o contacte al administrador de la base de datos</p>
					<p th:if="${NotTipificacionCorrespondencias}" class="alert alert-mal text-center">Aseg&uacute;rese de asignar correctamente la equivalencia entre valores t&iacute;picos y est&aacute;ndar a todos los posibles valores de las tipificaciones, debe asignar <strong>TODOS</strong> los posibles valores de est&aacute;ndar para evitar futuros conflictos</p>
					<p th:if="${NotTipificacion}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; uno a mas tipificaciones en las columnas!</b><br> Verifique si existe o contacte al administrador de la base de datos</p>

					<p th:if="${error=='NotTypeData'}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; el tipo de dato!</p>
					<p th:if="${error=='NotFoundEstandar'}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; el est&aacute;ndar!</p>
					<p th:if="${error=='NotFoundColumnaCorrespondencia'}" class="alert alert-mal text-center"><b>&iexcl;No se encontraron est&aacute;ndares asociados en algunas columnas!</p>
					<p th:if="${error=='columnEmpty'}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; columnas asociadas!</p>
					<p th:if="${error=='notEntrega'}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; entrega asociada!</p>
					<p th:if="${error=='notArchivo'}" class="alert alert-mal text-center"><b>&iexcl;No se encontr&oacute; archivo asociado!</p>
					<p th:if="${error=='TablaCorrespondencia'}" class="alert alert-mal text-center"><b>&iexcl;Ya esta asociada a una tabla!</p>
					<p th:if="${error=='validating'}" class="alert alert-mal text-center"><b>&iexcl;Los datos a&uacute;n se estan validando!</p>
					<p th:if="${error=='tableNotFound'}" class="alert alert-mal text-center"><b>&iexcl;No se encontro la tabla!</p>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">

					<div class="table-responsive" style="overflow-x: scroll;">
						<table class="table table-striped table-bordered table-hover"
							id="agregarDatatable">
							<thead>
								<tr>
									<th style="text-align: center;">Tabla</th>
									<th style="text-align: center;">Entrega</th>
									<th style="text-align: center;">Periodo</th>
									<th style="text-align: center;">Acciones</th>
								</tr>

							</thead>
							<tbody>
								<tr class="odd gradeX" th:each="tabla: ${tablas}">
									<td th:text="${tabla.nombre}"></td>
									<td> <label th:if="${tabla.archivo}" th:text="${tabla.archivo.nombre}"></label> </td>
									<td><label th:if="${tabla.archivo}" th:text="${tabla.archivo.entrega.periodo.nombre}"></label></td>

									<td style="text-align: center;">
										<form th:action="@{/estandarizar/start_job}" method="POST">
											<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
											<input name="nombre" th:value="${tabla.nombre}" hidden="">
											<input name="id" th:value="${tabla.id}" hidden="">
											<a th:if="${tabla.estado == 2 and tabla.tablaCorrespondencia == null}" href="#" class="btn btn-accion" th:attr="onclick=|crearModalEstandar(${tabla.id}, '${tabla.nombre}', 'CREAR ESTRUCTURA DE TABLA', '&iquest;Desea crear la estructura necesaria para esta tabla?', '/estandarizar/create_table')|">Crear Estructura <i class="fa fa-cogs" aria-hidden="true"></i></a>
											<a th:if="${tabla.estado > 1 and tabla.tablaCorrespondencia != null}" th:href="@{/asignarestandar/}+${tabla.id}+@{/estructura/}" class="btn btn-accion">Ver estructura <i class="fa fa-eye" aria-hidden="true"></i></a>
											<button th:if="${tabla.estado == 2 and tabla.tablaCorrespondencia != null}" type="submit"  class="btn btn-accion">Estandarizar <i class="fa fa-spinner" aria-hidden="true"></i></button>
											<a th:if="${tabla.estado == 2}" th:href="@{/reparar/}+${tabla.id}+@{/datos_completos/10/0/verDatoscorrelativa}"  class="btn btn-accion">Datos a estandarizar <i class="fa fa-eye" aria-hidden="true"></i></a>
											<a th:if="${tabla.estado > 4}" th:href="@{/reparar/}+${tabla.id}+@{/datos_completos/10/0/tabla_correlativa}"  class="btn btn-accion">Datos estandarizados <i class="fa fa-eye" aria-hidden="true"></i></a>
											<a th:if="${tabla.estado > 4 and tabla.tablaCorrespondencia != null and tabla.tablaCorrespondencia.error == true}" th:attr="onclick=|crearModalVolverValidar(${tabla.id})|"  class="btn btn-accion">Preparar para volver a validar <i class="fa fa-refresh" aria-hidden="true"></i></a>
											<a th:if="${tabla.estado == 2}" th:href="@{/asignarestandar/}+${tabla.id}+@{/editar/}" class="btn btn-accion"> Asignar est&aacute;ndar <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
										</form>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<a href="#" th:href="@{/index}" class="btn btn-accion" type="button">
						<i class="fa fa-home" aria-hidden="true"></i> Inicio
					</a>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	
	<!-- MODAL PARA ASIGNAR ESTANDAR -->
	<div class="modal fade" id="estandarModal">
		<div class="modal-dialog modal-default">
			<div class="modal-content">
				<div class="panel panel">
					<div class="panel-heading" style="text-align: center;">
						<b style="color: #6A83BE;" id="tituloEstandar"></b>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-11">
								<form th:action="@{/estandarizar/create_table}" method="POST" class="was-validated row" id="formulario" name="formulario">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" hidden=""/> 
									<input type="text" name="nombreEstandar" id="nombreEstandar" value="" hidden="">
									<input type="number" name="idEstandar" id="idEstandar" value="" hidden="">
									
									<div class="modal-body">
										<div class="col-lg-11">
											<strong id="texto"></strong>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-normal" type="submit">
											Aceptar <i class="fa fa-check-circle" aria-hidden="true"></i>
										</button>
										<a href="#" data-dismiss="modal" class="btn btn-secun"
											type="button">Cancelar <i class="fa fa-times-circle"
											aria-hidden="true"></i> 
										</a> 
									</div>
								</form>
							</div>
						</div>
	  				</div>
					<div class="panel-footer" style="text-align: center;">DIGESTYC</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- MODAL PARA REGRESAR A VALIDAR -->
	<div class="modal fade" id="estandarModalValidar">
		<div class="modal-dialog modal-default">
			<div class="modal-content">
				<div class="panel panel">
					<div class="panel-heading" style="text-align: center;">
						<b style="color: #6A83BE;" id="tituloEstandar">VOLVER A VALIDAR</b>
						<button class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-11">
								<form th:action="@{/estandarizar/preparar/}" method="POST" class="was-validated row" id="formulario" name="formulario">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" hidden=""/> 
									<input type="number" name="idTabla" id="idTabla" value="" hidden="">
									<div class="modal-body">
										<div style="color: #697185;" class="col-lg-11">
											<strong id="texto">Se permitir&aacute; volver a validar los datos que se encuentran en la tabla, &iquest;Esta de acuerdo?</strong>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-normal" type="submit">
											Aceptar <i class="fa fa-check-circle" aria-hidden="true"></i> 
										</button>
										<a href="#" data-dismiss="modal" class="btn btn-secun"
											type="button">Cancelar <i class="fa fa-times-circle"
											aria-hidden="true"></i> 
										</a>
									</div>
								</form>
							</div>
						</div>
	  				</div>
					<div class="panel-footer" style="text-align: center;">DIGESTYC</div>
				</div>
			</div>
		</div>
	</div>
	
	
	</contenido>
	<nuevosScripts>
		<script>
			function crearModalEstandar(id, nombreEstandar, titulo, texto, url) {
				document.getElementById('idEstandar').value = id;
				document.getElementById('nombreEstandar').value = nombreEstandar;
				document.getElementById('tituloEstandar').innerHTML = titulo;
				document.getElementById('texto').innerHTML = texto;
				$('#estandarModal').modal();
				console.log(id + " "+url);
			}
			
			function crearModalVolverValidar(id){
				document.getElementById('idTabla').value = id;
				$('#estandarModalValidar').modal();

			}
		</script>
	</nuevosScripts>
</body>
</html>
